.note {
  background-color: #feff9c;
  position: relative;
  height: 10em;
  width: 10em;
  margin: 1em;
  padding: 1em;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: black;
  transform: rotate(-6deg);
  z-index: 1;
  transition: all ease 0.3s;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.note:nth-child(even) {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
  background-color: #7afcff;
}

.note:nth-child(3n) {
  transform: rotate(-3deg);
  position: relative;
  top: 5px;
  background-color: #ff7eb9;
}

.note:hover {
  transform: scale(1.5);
  z-index: 5;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.note__text {
  flex: 1;
  outline: 0px solid transparent;
}

.note__link {
  display: none;
}
